*                 text=auto      eol=lf
*.md              diff=markdown  linguist-detectable
pnpm-lock.yaml    -diff
*.ico filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
